html
{
	background-color: black;
	color: white;
	font-family: sans-serif;
}

#chiyofloat
{
	background-image: url(img/bg.png);
	background-repeat: no-repeat;
	background-size: 100%;
	color:rgba(0,0,0,0);
	position: fixed;
	bottom: 0;
	right: 0;
	width: 100px;
	height: 100px;
	z-index: -1111;
}

#demo
{
	text-align: left;
}

#demo a
{
    text-decoration:none;
    color:white;
    background-color: #0000aa;
    padding: 2px;
    padding-right: 2px;
}

#demo a.redlink 
{
    background-color: #aa0000;
}

#demo a:hover
{
    color:black;
    background-color: white;
}

#archive div
{
	width: 160px;
	height: 90px;
	min-width: 160px;
	min-height: 90px;
	background-size: 100%;
	background-repeat: no-repeat;
	margin-bottom: 4px;
}

#archive a
{
    text-decoration:none;
    color:rgba(0,0,0,0);
    max-width: 160px;
    display: inline-block;
}

#archive a:hover
{
	opacity: 0.5;
}
#archive ul li
{
	display: inline;
}

.thread 
{
	display: inline-block;
	position: relative;
}

.thread span
{
	display: inline-block;
	position: absolute;
	top: 30px;
	left: 30px;
/*	color: #FFF;	*/
	color:  #aa0000;
	
	font-family: sans-serif;
	font-size: 20px;
	background-color: rgba(0, 0, 0, 0.4);
	padding: 10px 30px;
	
}

#misc div
{
	width: 160px;
	height: 90px;
	min-width: 160px;
	min-height: 90px;
	background-size: 100%;
	background-repeat: no-repeat;
	margin-bottom: 4px;
}

#misc a
{
    text-decoration:none;
    color:rgba(0,0,0,0);
    max-width: 160px;
    display: inline-block;
}

#misc a:hover
{
	opacity: 0.5;
}
#misc ul li
{
	display: inline;
}
#game_container 
{
	text-align: center;
}

#preload 
{
	display: none;
}

#wrapper
{
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

#discuss
{
	text-align: left;
}

#discuss a
{
    text-decoration:none;
    color:white;
    background-color: #0000aa;
    padding: 2px;
    padding-right: 2px;
}

#discuss a.redlink 
{
    background-color: #aa0000;
}

#discuss a:hover
{
    color:black;
    background-color: white;
}

canvas{
	display: block;
	position: absolute;
	margin: auto;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: -1;
}

.gp1{
	width: 75px; 
	height: 45px;
	-moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
	color: #ffffff;
/*	background-color: #181818;	*/
	background-color: transparent;
	z-index: -2;
}

.gp2{
	width: 60px; 
	height: 60px;
	-moz-border-radius: 30px;
    -webkit-border-radius: 30px;
    border-radius: 30px;
	color: #ffffff;
	background-color: transparent;
	z-index: -2;
}