/* ::::: http://s.4cdn.org/css/yotsubluenew.652.css ::::: */

html {  }
body { background: rgb(238, 242, 255) url('fade-blue.png') repeat-x scroll center top; color: rgb(0, 0, 0); font-family: arial,helvetica,sans-serif; font-size: 10pt; margin-left: 0px; margin-right: 0px; margin-top: 5px; padding-left: 5px; padding-right: 5px; }
#footer-links { margin-top: 5px; }
.belowLeaderboard { width: 728px; max-width: 100%; }
.aboveMidAd { width: 468px; max-width: 100%; }
#captchaContainerAlt td:nth-child(2), #captchaContainerAlt td:nth-child(3), #qrCaptchaContainerAlt td:nth-child(2), #qrCaptchaContainerAlt td:nth-child(3) { display: none ! important; }
#recaptcha_table tr:first-child > td:not(:first-child) { padding: 0px 7px ! important; }
input:-moz-placeholder { color: gray ! important; }
.mobile, .mobileinline, .mobileib { display: none ! important; }
a, a:visited { color: rgb(52, 52, 92); text-decoration: none; }
a.replylink:not(:hover), div#absbot a:not(:hover) { color: rgb(52, 52, 92) ! important; }
a:hover { color: rgb(221, 0, 0) ! important; }
div#absbot { color: rgb(0, 0, 0); clear: both; }
img { border: medium none; }
img.topad, .topad > div, .topad a img { width: 728px; height: 90px; max-width: 100%; overflow: hidden; margin: auto; }
img.middlead, .middlead > div, .middlead a img { width: 468px; height: 60px; max-width: 100%; overflow: hidden; margin: auto; }
img.bottomad, .bottomad > div, .bottomad a img { width: 728px; height: 90px; max-width: 100%; overflow: hidden; margin: auto; }
hr { border-width: 1px medium medium; border-style: solid none none; border-color: rgb(183, 197, 217) -moz-use-text-color -moz-use-text-color; -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; height: 0px; }
div.board > hr { clear: both; }
hr.abovePostForm { width: 90%; }
div.backlink { font-size: x-small ! important; padding-left: 10px; padding-bottom: 5px; padding-right: 10px; }
.backlink span { padding-right: 5px; }
.mobile { display: none; }
.rules > li::before { content: "• "; }
div.boardBanner { text-align: center; clear: both; color: rgb(175, 10, 15); }
#bannerCnt { border: 1px solid rgb(52, 52, 92); margin: 5px auto; width: 300px; height: 100px; max-width: 100%; }
div.boardBanner > div.boardTitle { font-family: Tahoma,sans-serif; font-size: 28px; font-weight: bold; letter-spacing: -2px; margin-top: 0px; }
div#boardNavDesktop { font-size: 9pt; color: rgb(136, 153, 170); display: block; }
div#boardNavDesktop a { font-weight: normal; padding: 1px; text-decoration: none; color: rgb(52, 52, 92); }
div.opContainer { display: inline; }
div.sideArrows { color: rgb(183, 197, 217); float: left; margin-right: 2px; margin-top: 0px; margin-left: 2px; }
div.thread { margin: 0px; clear: both; }
div.post { margin: 4px 0px; overflow: hidden; }
div.thread > div:nth-of-type(2) > div.reply { margin-top: 2px ! important; }
div.op { display: inline; }
div.reply { background-color: rgb(214, 218, 240); border-width: medium 1px 1px medium; border-style: none solid solid none; border-color: -moz-use-text-color rgb(183, 197, 217) rgb(183, 197, 217) -moz-use-text-color; -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; display: table; padding: 2px; }
div.reply input { float: none; }
div.post div.postInfo { display: block; width: 100%; }
div.post div.postInfo span.postNum {  }
div.post div.postInfo span.postNum a { text-decoration: none; color: rgb(0, 0, 0); }
div.post div.postInfo span.postNum a:hover, .posteruid .hand:hover { color: rgb(221, 0, 0) ! important; }
div.post div.postInfo span.nameBlock { display: inline-block; }
div.post div.postInfo span.nameBlock span.name { color: rgb(17, 119, 67); font-weight: bold; }
div.post div.postInfo span.subject { color: rgb(15, 12, 93); font-weight: bold; }
div.post blockquote.postMessage { display: block; }
blockquote > span.quote { color: rgb(120, 153, 34); }
.quoteLink, .quotelink, .deadlink { color: rgb(221, 0, 0) ! important; text-decoration: underline; }
div.post div.file { display: block; }
div.post div.file .fileThumb { float: left; margin: 3px 20px 5px; }
div.post div.file .fileThumb img { border: medium none; float: left; }
div.thread:last-child { padding-bottom: 21px; margin-bottom: 6px; }
.bottomCtrl { float: right; margin-top: 2px; }
.stylechanger { margin-left: 5px; font-size: 10pt; }
div#boardNavDesktopFoot { font-size: 9pt; color: rgb(136, 153, 170); clear: both; padding-top: 10px; padding-bottom: 3px; }
div#boardNavDesktopFoot a { font-weight: normal; padding: 1px; text-decoration: none; color: rgb(52, 52, 92); }
div#absbot { text-align: center; font-size: x-small ! important; padding-bottom: 4px; padding-top: 10px; color: rgb(0, 0, 0); }
#recaptcha_response_field:not(:focus) { border: 1px solid rgb(170, 170, 170) ! important; }
input[type="text"]:focus, input[type="password"]:focus, input:focus:not([type]), textarea:focus { border: 1px solid rgb(153, 136, 238) ! important; }
div.closed { font-size: x-large; text-align: center; color: red; font-weight: bold; padding-top: 100px; padding-bottom: 100px; }
.arc-ads { width: 300px; margin: 30px auto -60px; }
.arc-ads::after { display: block; content: ""; clear: both; }
@media not all {
}
.archivedIcon, .closedIcon { margin-bottom: -1px; margin-left: -1px; height: 16px; width: 16px; }
.center { text-align: center; }
.highlightPost:not(.op) { background: rgb(193, 198, 226) none repeat scroll 0% 0% ! important; border-color: rgb(123, 130, 172) ! important; }
.reply:target, .reply.highlight { background: rgb(214, 186, 208) none repeat scroll 0% 0% ! important; border-width: medium 1px 1px medium ! important; border-style: none solid solid none ! important; border-color: -moz-use-text-color rgb(186, 157, 191) rgb(186, 157, 191) -moz-use-text-color ! important; -moz-border-top-colors: none ! important; -moz-border-right-colors: none ! important; -moz-border-bottom-colors: none ! important; -moz-border-left-colors: none ! important; border-image: none ! important; padding: 2px; }
.useremail:not(:hover) .name:not(.capcode), .useremail:not(:hover) .postertrip:not(.capcode) { color: rgb(52, 52, 92) ! important; }
s, s a:not(:hover) { color: rgb(0, 0, 0) ! important; background: rgb(0, 0, 0) none repeat scroll 0% 0% ! important; text-decoration: none; }
s:hover, s:focus, s:hover a { color: rgb(255, 255, 255) ! important; }
s:hover a { text-decoration: underline; }
#navtopright, #navbotright { float: right; }
.persistentNav, div#boardNavMobile { padding: 2px 4px; background-color: rgb(214, 218, 240); overflow: hidden; border-bottom: 2px solid rgb(183, 197, 217); position: fixed; top: 0px; left: 0px; right: 0px; font-size: 12px; z-index: 9001; }
div#boardNavMobile select, div#boardNavMobile option { font-size: 11px; }
div.boardSelect { float: left; }
div.boardSelect > strong { padding-right: 5px; }
div.pageJump { float: right; padding-right: 5px; padding-top: 3px; }
.pageJump a { text-decoration: none; padding-right: 5px; }
table.flashListing td:not(.subject) { text-align: center; }
table.flashListing tr:nth-of-type(2n+1) { background-color: rgb(224, 229, 246); }
#enable-mobile { font-size: small ! important; }
#disable-mobile { font-size: small ! important; }
.mFileInfo { padding-top: 5px; text-align: center; color: rgb(112, 112, 112) ! important; font-size: 9pt ! important; text-decoration: none ! important; }
.ad-plea { margin-top: 2px; text-align: center; font-size: smaller; }
.ad-plea a { text-decoration: none; }
.fileText a { text-decoration: underline; }
.fileWebm:hover::before { background-color: rgba(0, 0, 0, 0.75); color: rgb(255, 255, 255); font-weight: bold; line-height: 18px; padding: 0px 3px 0px 2px; position: absolute; content: "webm"; display: block; font-size: 11px; text-decoration: none; }
.tip-top-left::before, .tip-top-right::before, .tip-top::before { content: ""; display: block; width: 0px; height: 0px; position: absolute; border-left: 4px solid transparent; border-right: 4px solid transparent; border-top: 4px solid rgb(24, 31, 36); margin-left: -4px; bottom: -4px; }
.tip-top::before { left: 50%; }
.tip-top-right::before { left: 2px; margin-left: 0px; }
.tip-top-left::before { right: 2px; }
/* ::::: http://s.4cdn.org/css/yotsubluemobile.652.css ::::: */

@media only screen and (max-width: 480px) {
	html {  }
	.postMenuBtn { transform: rotate(90deg); margin: 4px -5px 0px 4px ! important; float: left; font-weight: bold; opacity: 1 ! important; height: 0.5em ! important; font-size: 16px; }
	body { background: rgb(238, 242, 255) url('fade-blue.png') repeat-x scroll center top; color: rgb(0, 0, 0); font-family: arial,helvetica,sans-serif; font-size: 10pt; margin-left: 0px; margin-right: 0px; margin-top: 5px; padding-left: 0px; padding-right: 0px; width: 100%; }
	.ad-plea, embed { display: none ! important; }
	a, .useremail:not(:hover) .name:not(.capcode), .useremail:not(:hover) .postertrip:not(.capcode) { color: rgb(52, 52, 92) ! important; }
	a.replylink, div#absbot a { text-decoration: underline ! important; }
	a.replylink:not(:hover), div#absbot a:not(:hover) { color: rgb(52, 52, 92) ! important; }
	a:hover, .useremail .name:hover, .useremail .postertrip:hover, a.quoteLink:hover, a.quotelink:hover, a.deadlink:hover, .useremail :hover, .useremail:hover * { color: rgb(221, 0, 0) ! important; }
	img { border: medium none; }
	img.topad, .topad > div, .topad a img { width: 320px; height: 40px; max-width: 100%; overflow: hidden; margin: auto; }
	img.middlead, .middlead > div, .middlead a img { width: 234px; height: 30px; max-width: 100%; overflow: hidden; margin: auto; }
	img.bottomad, .bottomad > div, .bottomad a img { width: 320px; height: 40px; max-width: 100%; overflow: hidden; margin: auto; }
	.button a { text-decoration: none ! important; }
	div.boardBanner { margin-top: 40px ! important; }
	.mobile { display: block ! important; clear: left ! important; }
	.mobileib { display: inline-block ! important; }
	.desktop { display: none ! important; }
	div.board > hr { border-width: 1px medium medium; border-style: solid none none; border-color: rgb(183, 197, 217) -moz-use-text-color -moz-use-text-color; -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; height: 0px; margin-top: 30px ! important; margin-bottom: 30px ! important; }
	div.board > hr:last-of-type { margin-bottom: 10px ! important; }
	hr.abovePostForm { width: 90%; }
	.mobilePostFormToggle { text-align: center; font-weight: bold; margin: 0px auto; padding-top: 15px; }
	a.mobilePostFormToggle { text-align: center; display: inline-block ! important; }
	div.post div.file .fileThumb img { max-width: 100px; max-height: 100px; object-fit: scale-down; }
	div.post div.file .fileThumb { margin-left: 5px ! important; margin-right: 10px ! important; text-decoration: none; }
	div.post div.file div.fileText { display: none; }
	div.sideArrows { display: none; }
	div.reply { padding: 2px; background-color: rgb(214, 218, 240); margin: 0px; border: 1px solid rgb(183, 197, 217); }
	div.replyContainer { background-color: rgb(214, 218, 240); margin: 5px 5px 0px; padding-left: 0px; }
	div.opContainer { padding: 5px; display: block; overflow: hidden; background-color: rgb(214, 218, 240); border: 1px solid rgb(183, 197, 217) ! important; }
	span.summary:not(.preview-summary) { padding: 5px; text-align: center; display: block; background-color: rgb(201, 205, 232); border-bottom: 1px solid rgb(183, 197, 217) ! important; margin-top: 0px; margin-bottom: 5px; font-weight: bold; }
	blockquote { margin: 10px ! important; }
	blockquote.postMessage { font-size: 11pt; }
	div.thread { border-top: medium none; }
	div.opContainer div.postInfo { display: none ! important; }
	div.post div.postInfoM { overflow: hidden; border-bottom: 1px solid rgb(183, 197, 217); background-color: rgb(201, 205, 232); padding: 5px; margin: -5px -6px 5px -5px; }
	div.replyContainer div.postInfoM { margin: 0px; }
	div.post div.postInfoM span.postNum, div.postInfo span.postNum { float: left; }
	div.post div.postInfoM span.postNum a, div.postInfo span.postNum a { text-decoration: none; color: rgb(0, 0, 0) ! important; }
	div.post div.postInfoM span.postNum a:hover { color: red; }
	div.post div.postInfoM span.nameBlock, div.postInfo span.nameBlock { display: inline; float: left; clear: left; }
	div.post div.postInfoM span.nameBlock span.name, div.postInfo span.nameBlock span.name { color: rgb(17, 119, 67); font-weight: bold; }
	div.post div.postInfoM span.dateTime { float: right; text-align: right; color: black ! important; }
	div.post div.postInfoM span.subject { color: rgb(15, 12, 93); font-weight: bold; }
	div.replyContainer div.reply { width: 100%; padding: 0px ! important; }
	div.replyContainer div.post div.postInfo { overflow: hidden; border-bottom: 1px solid rgb(183, 197, 217); background-color: rgb(201, 205, 232); padding: 3px; margin: 0px; }
	div.replyContainer div.post div.postInfo input[type="checkbox"] { display: none; }
	div.replyContainer div.post div.postInfo span.postNum { font-style: italic; }
	div.replyContainer div.post div.postInfo span.nameBlock {  }
	div.replyContainer div.post div.postInfo span.postNum a:first-child::after { content: " "; }
	div.replyContainer div.post div.postInfo span.dateTime { float: right; text-align: right; padding-right: 10px; font-style: italic; }
	div.thread > div:nth-of-type(2) > div.reply { margin-top: 0px ! important; }
	div.replyContainer div.post div.file { padding: 5px; }
	.button { border-radius: 3px; padding: 6px 10px 5px; font-weight: bold; background-color: rgb(214, 218, 240); border: 1px solid rgb(183, 197, 217); background-image: url('buttonfade-blue.png'); background-repeat: repeat-x; text-decoration: none; color: rgb(52, 52, 92) ! important; }
	.button:hover { cursor: pointer; }
	.mobileCatalogLink, div.absBotText { margin-top: 10px; }
	#disable-mobile { font-size: small ! important; }
	#enable-mobile { font-size: small ! important; display: none; }
	.absBotDisclaimer { display: none ! important; }
	div#boardNavMobile { padding: 2px 4px; background-color: rgb(214, 218, 240); overflow: hidden; border-bottom: 2px solid rgb(183, 197, 217); position: fixed; top: 0px; width: 100%; font-size: x-small; }
	div#boardNavMobile select, div#boardNavMobile option { font-size: x-small; }
	div.boardSelect { float: left; }
	div.boardSelect > strong { padding-right: 5px; }
	div.pageJump { float: right; padding-right: 5px; padding-top: 3px; font-size: 7.5pt; }
	.pageJump a { text-decoration: none; padding-right: 5px; }
	div.navLinks { margin-top: 9px ! important; margin-bottom: 0px ! important; text-align: center; }
	div.post div.postInfo span.postNum a { text-decoration: none; color: rgb(0, 0, 0); }
	div.boardBanner { text-align: center; clear: both; }
	div.boardBanner > div.boardTitle { font-family: Tahoma,sans-serif; font-size: 28px; font-weight: bold; letter-spacing: -2px; margin-top: 0px; }
	div.post div.file .fileThumb img { border: medium none; float: left; }
	span.subject { display: block; }
	hr { border-width: 1px medium medium; border-style: solid none none; border-color: rgb(183, 197, 217) -moz-use-text-color -moz-use-text-color; -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; height: 0px; }
	.archivedIcon, .closedIcon { margin-bottom: -2px; margin-left: -1px; height: 16px; width: 16px; }
	.center { text-align: center; }
	#navtopright, #navbotright { float: right; }
	#postForm:not(.hideMobile) { overflow: hidden; margin-top: 20px; display: table; }
	input:focus, textarea:focus { border: 1px solid rgb(153, 136, 238) ! important; }
	a:hover, .posteruid .hand:hover { color: rgb(221, 0, 0) ! important; }
	.button a:hover, a.button:hover { color: rgb(52, 52, 92) ! important; }
	table#recaptcha_table > tbody > tr:first-child > td:nth-child(2) { display: none; }
	.reply:target, .reply:focus, .reply.highlight { border: 1px solid rgb(183, 197, 217) ! important; background: rgb(214, 186, 208) none repeat scroll 0% 0% ! important; }
	.mFileInfo { padding-top: 5px; text-align: center; color: rgb(112, 112, 112) ! important; font-size: 9pt ! important; text-decoration: none ! important; }
	a.replylink, div#absbot a { text-decoration: underline ! important; }
	a.replylink:not(:hover), div#absbot a:not(:hover) { color: rgb(52, 52, 92) ! important; }
}
div.post div.postInfo { width: auto; display: inline; }
.center { display: block; margin: auto; }
#quickReply input::-moz-placeholder, #quickReply textarea::-moz-placeholder { color: rgb(170, 170, 170) ! important; opacity: 1 ! important; }
.qrDrawActive a::after { content: "*"; }
div.backlink { font-size: 0.8em ! important; display: inline; padding: 0px 0px 0px 5px; }
.backlink span { padding: 0px; }
.burichan_new .backlink a, .yotsuba_b_new .backlink a { color: rgb(52, 52, 92) ! important; }
.burichan_new .backlink a:hover, .yotsuba_b_new .backlink a:hover { color: rgb(221, 0, 0) ! important; }
.newPostsMarker:not(#quote-preview) { box-shadow: 0px 3px red; }
.UIPanel::after { display: inline-block; height: 100%; vertical-align: middle; content: ""; }
#filtersHelp h4::before { content: "»"; margin-right: 3px; }
.post-hidden .extButton, .post-hidden:not(#quote-preview) .postInfo { opacity: 0.5; }
.post-hidden:not(.thread) .postInfo { padding-left: 5px; }
.post-hidden:not(#quote-preview) input, .post-hidden:not(#quote-preview) .replyContainer, .post-hidden:not(#quote-preview) .summary, .post-hidden:not(#quote-preview) .op .file, .post-hidden:not(#quote-preview) .file, .post-hidden .wbtn, .post-hidden .postNum span, .post-hidden:not(#quote-preview) .backlink, div.post-hidden:not(#quote-preview) div.file, div.post-hidden:not(#quote-preview) blockquote.postMessage { display: none; }
.click-me::before { content: ""; border-width: 0px 6px 6px; border-style: solid; left: 50%; margin-left: -6px; position: absolute; width: 0px; height: 0px; top: -6px; }
.yotsuba_new .click-me::before, .futaba_new .click-me::before { border-color: rgb(217, 191, 183) transparent; }
.yotsuba_b_new .click-me::before, .burichan_new .click-me::before { border-color: rgb(183, 197, 217) transparent; }
.tomorrow .click-me::before { border-color: rgb(17, 17, 17) transparent; }
.photon .click-me::before { border-color: rgb(204, 204, 204) transparent; }
.click-me::after { content: ""; border-width: 0px 4px 4px; top: -4px; display: block; left: 50%; margin-left: -4px; position: absolute; width: 0px; height: 0px; }
.yotsuba_new .click-me::after, .futaba_new .click-me::after { border-color: rgb(240, 224, 214) transparent; border-style: solid; }
.yotsuba_b_new .click-me::after, .burichan_new .click-me::after { border-color: rgb(214, 218, 240) transparent; border-style: solid; }
.tomorrow .click-me::after { border-color: rgb(40, 42, 46) transparent; border-style: solid; }
.photon .click-me::after { border-color: rgb(221, 221, 221) transparent; border-style: solid; }
.thread-stats { float: right; margin-right: 5px; cursor: default; }
.noPictures a.fileThumb img:not(.expanded-thumb) { opacity: 0; }
.noPictures.tomorrow a.fileThumb:not(.expanded-thumb) { border: 1px solid rgb(197, 200, 198); }
.noPictures.photon a.fileThumb:not(.expanded-thumb) { border: 1px solid rgb(0, 74, 153); }
.postMenuBtn { margin-left: 5px; text-decoration: none; line-height: 1em; display: inline-block; transition: transform 0.1s ease 0s; width: 1em; height: 1em; text-align: center; outline: medium none; opacity: 0.8; }
.postMenuBtn:hover { opacity: 1; }
.settings-sub label::before { border-bottom: 1px solid; border-left: 1px solid; content: " "; display: inline-block; height: 8px; margin-bottom: 5px; width: 8px; }
@media only screen and (max-width: 480px) {
	.thread-stats { float: none; text-align: center; }
	.ts-replies::before { content: "Replies: "; }
	.ts-images::before { content: "Images: "; }
	.ts-ips::before { content: "Posters: "; }
	.ts-page::before { content: "Page: "; }
	div.post div.postInfoM span.nameBlock { clear: none; }
	.mobile-report::after { content: "]"; }
	.mobile-report::before { content: "["; }
	.nws .mobile-report::after { color: rgb(128, 0, 0); }
	.nws .mobile-report::before { color: rgb(128, 0, 0); }
	.m-dark .mobile-report::after, .m-dark .mobile-report::before { color: rgb(29, 31, 33) ! important; }
	.m-dark .highlightPost:not(.op) { background: rgb(58, 23, 28) none repeat scroll 0% 0% ! important; }
}
