body {
  background-color: black;
}

.terminal .terminal-output div div, .cmd .prompt {
    display: block;
    line-height: 24px;
    height: auto;
}

.terminal, .cmd {
    font-family: monospace;
    /*font-family: FreeMono, monospace; this don't work on Android */
    color: #aaa;
    background-color: black;
    font-size: 22px;
    line-height: 24px;
}

.terminal .inverted, .cmd .inverted, .cmd .cursor.blink {
    background-color: #aaa;
    color: black;
}

@-webkit-keyframes terminal-blink {
  0%, 100% {
      background-color: black;
      color: #aaa;
  }
  50% {
      background-color: #aaa;
      color: black;
  }
}

@-ms-keyframes terminal-blink {
  0%, 100% {
      background-color: black;
      color: #aaa;
  }
  50% {
      background-color: #aaa;
      color: black;
  }
}

@-moz-keyframes terminal-blink {
  0%, 100% {
      background-color: black;
      color: #aaa;
  }
  50% {
      background-color: #aaa;
      color: black;
  }
}
@keyframes terminal-blink {
  0%, 100% {
      background-color: black;
      color: #aaa;
  }
  50% {
      background-color: #aaa; /* not #aaa because it's seems there is Google Chrome bug */
      color: black;
  }
}

.ascii {
  font: 16px monospace;
  line-height: 16px;
  max-height: 60%;
  overflow: hidden;
}
