/* ::::: http://desustorage.org/foolfuuka/components/highlightjs/styles/default.css ::::: */

/* ::::: http://desustorage.org/foolfuuka/foolz/foolfuuka-theme-foolfuuka/assets-1.1.1/bootstrap.legacy.css ::::: */

.clearfix {  }
.clearfix::before, .clearfix::after { display: table; content: ""; line-height: 0; }
.clearfix::after { clear: both; }
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio:not([controls]) { display: none; }
html { font-size: 100%; }
a:focus { outline: thin dotted rgb(51, 51, 51); outline-offset: -2px; }
a:hover, a:active { outline: 0px none; }
img { vertical-align: middle; }
button, input, select, textarea { margin: 0px; font-size: 100%; vertical-align: middle; }
button, input { line-height: normal; }
button::-moz-focus-inner, input::-moz-focus-inner { padding: 0px; border: 0px none; }
button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; }
textarea { overflow: auto; vertical-align: top; }
body { margin: 0px; font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; font-size: 13px; line-height: 18px; color: rgb(51, 51, 51); background-color: rgb(255, 255, 255); }
a { color: rgb(0, 136, 204); text-decoration: none; }
a:hover { color: rgb(0, 85, 128); text-decoration: underline; }
.row::before, .row::after { display: table; content: ""; line-height: 0; }
.row::after { clear: both; }
.container, .navbar-static-top .container, .navbar-fixed-top .container, .navbar-fixed-bottom .container { width: 940px; }
.row-fluid::before, .row-fluid::after { display: table; content: ""; line-height: 0; }
.row-fluid::after { clear: both; }
.container { margin-right: auto; margin-left: auto; }
.container::before, .container::after { display: table; content: ""; line-height: 0; }
.container::after { clear: both; }
.container-fluid { padding-right: 20px; padding-left: 20px; }
.container-fluid::before, .container-fluid::after { display: table; content: ""; line-height: 0; }
.container-fluid::after { clear: both; }
h1, h2, h3, h4, h5, h6 { margin: 9px 0px; font-family: inherit; font-weight: bold; line-height: 1; color: inherit; text-rendering: optimizelegibility; }
h3 { font-size: 24px; line-height: 40px; }
h5 { font-size: 14px; line-height: 20px; }
ul, ol { padding: 0px; margin: 0px 0px 9px 25px; }
ul ul, ul ol, ol ol, ol ul { margin-bottom: 0px; }
li { line-height: 18px; }
.dl-horizontal::before, .dl-horizontal::after { display: table; content: ""; line-height: 0; }
.dl-horizontal::after { clear: both; }
blockquote small::before { content: "— "; }
blockquote.pull-right small::before { content: ""; }
blockquote.pull-right small::after { content: " —"; }
q::before, q::after, blockquote::before, blockquote::after { content: ""; }
table { max-width: 100%; background-color: transparent; border-collapse: collapse; border-spacing: 0px; }
.table { width: 100%; margin-bottom: 18px; }
.table th, .table td { padding: 8px; line-height: 18px; text-align: left; vertical-align: top; border-top: 1px solid rgb(221, 221, 221); }
.table-striped tbody tr:nth-child(2n+1) td, .table-striped tbody tr:nth-child(2n+1) th { background-color: rgb(249, 249, 249); }
form { margin: 0px 0px 18px; }
fieldset { padding: 0px; margin: 0px; border: 0px none; }
label, input, button, select, textarea { font-size: 13px; font-weight: normal; line-height: 18px; }
input, button, select, textarea { font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; }
label { display: block; margin-bottom: 5px; }
select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input { display: inline-block; height: 18px; padding: 4px 6px; margin-bottom: 9px; font-size: 13px; line-height: 18px; color: rgb(85, 85, 85); border-radius: 2px; }
input, textarea, .uneditable-input { width: 206px; }
textarea { height: auto; }
textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input { background-color: rgb(255, 255, 255); border: 1px solid rgb(204, 204, 204); box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset; transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s; }
textarea:focus, input[type="text"]:focus, input[type="password"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="date"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, input[type="number"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="color"]:focus, .uneditable-input:focus { border-color: rgba(82, 168, 236, 0.8); outline: 0px none; box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px rgba(82, 168, 236, 0.6); }
input[type="radio"], input[type="checkbox"] { margin: 4px 0px 0px; line-height: normal; cursor: pointer; }
input[type="file"], input[type="image"], input[type="submit"], input[type="reset"], input[type="button"], input[type="radio"], input[type="checkbox"] { width: auto; }
select:focus, input[type="file"]:focus, input[type="radio"]:focus, input[type="checkbox"]:focus { outline: thin dotted rgb(51, 51, 51); outline-offset: -2px; }
input:-moz-placeholder, textarea:-moz-placeholder { color: rgb(153, 153, 153); }
input, textarea, .uneditable-input { margin-left: 0px; }
.controls-row::before, .controls-row::after { display: table; content: ""; line-height: 0; }
.controls-row::after { clear: both; }
input:focus:required:invalid, textarea:focus:required:invalid, select:focus:required:invalid { color: rgb(185, 74, 72); border-color: rgb(238, 95, 91); }
input:focus:required:invalid:focus, textarea:focus:required:invalid:focus, select:focus:required:invalid:focus { border-color: rgb(233, 50, 45); box-shadow: 0px 0px 6px rgb(248, 185, 183); }
.form-actions::before, .form-actions::after { display: table; content: ""; line-height: 0; }
.form-actions::after { clear: both; }
.input-append, .input-prepend { margin-bottom: 5px; font-size: 0px; white-space: nowrap; }
.input-append input, .input-prepend input, .input-append select, .input-prepend select, .input-append .uneditable-input, .input-prepend .uneditable-input { position: relative; margin-bottom: 0px; font-size: 13px; vertical-align: top; border-radius: 0px 2px 2px 0px; }
.input-append input:focus, .input-prepend input:focus, .input-append select:focus, .input-prepend select:focus, .input-append .uneditable-input:focus, .input-prepend .uneditable-input:focus { z-index: 2; }
.input-append .add-on, .input-prepend .add-on { display: inline-block; width: auto; height: 18px; min-width: 16px; padding: 4px 5px; font-size: 13px; font-weight: normal; line-height: 18px; text-align: center; text-shadow: 0px 1px 0px rgb(255, 255, 255); background-color: rgb(238, 238, 238); border: 1px solid rgb(204, 204, 204); }
.input-append .add-on, .input-prepend .add-on, .input-append .btn, .input-prepend .btn { vertical-align: top; border-radius: 0px; }
.input-prepend .add-on, .input-prepend .btn { margin-right: -1px; }
.input-prepend .add-on:first-child, .input-prepend .btn:first-child { border-radius: 2px 0px 0px 2px; }
.input-append input, .input-append select, .input-append .uneditable-input { border-radius: 2px 0px 0px 2px; }
.input-append .add-on, .input-append .btn { margin-left: -1px; }
.input-append .add-on:last-child, .input-append .btn:last-child { border-radius: 0px 2px 2px 0px; }
input.search-query { padding-right: 14px; padding-left: 14px; margin-bottom: 0px; border-radius: 15px; }
.form-horizontal .control-group::before, .form-horizontal .control-group::after { display: table; content: ""; line-height: 0; }
.form-horizontal .control-group::after { clear: both; }
.btn { display: inline-block; padding: 4px 14px; margin-bottom: 0px; font-size: 13px; line-height: 18px; text-align: center; vertical-align: middle; cursor: pointer; color: rgb(51, 51, 51); text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.75); background-color: rgb(245, 245, 245); background-image: linear-gradient(to bottom, rgb(255, 255, 255), rgb(230, 230, 230)); background-repeat: repeat-x; border-width: 1px; border-style: solid; border-color: rgb(187, 187, 187) rgb(187, 187, 187) rgb(162, 162, 162); -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; border-radius: 4px; box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.2) inset, 0px 1px 2px rgba(0, 0, 0, 0.05); }
.btn:hover, .btn:active, .btn.active, .btn.disabled, .btn[disabled] { color: rgb(51, 51, 51); background-color: rgb(230, 230, 230); }
.btn:active, .btn.active {  }
.btn:first-child {  }
.btn:hover { color: rgb(51, 51, 51); text-decoration: none; background-color: rgb(230, 230, 230); background-position: 0px -15px; transition: background-position 0.1s linear 0s; }
.btn:focus { outline: thin dotted rgb(51, 51, 51); outline-offset: -2px; }
.btn.active, .btn:active { background-color: rgb(230, 230, 230); background-image: none; outline: 0px none; box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15) inset, 0px 1px 2px rgba(0, 0, 0, 0.05); }
.btn-mini { padding: 2px 6px; font-size: 10px; line-height: 15px; }
.btn { border-color: rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0.25); }
.btn-primary { color: rgb(255, 255, 255); text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.25); background-color: rgb(0, 109, 204); background-image: linear-gradient(to bottom, rgb(0, 136, 204), rgb(0, 68, 204)); background-repeat: repeat-x; border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25); }
.btn-primary:hover, .btn-primary:active, .btn-primary.active, .btn-primary.disabled, .btn-primary[disabled] { color: rgb(255, 255, 255); background-color: rgb(0, 68, 204); }
.btn-primary:active, .btn-primary.active {  }
.btn-inverse { color: rgb(255, 255, 255); text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.25); background-color: rgb(54, 54, 54); background-image: linear-gradient(to bottom, rgb(68, 68, 68), rgb(34, 34, 34)); background-repeat: repeat-x; border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25); }
.btn-inverse:hover, .btn-inverse:active, .btn-inverse.active, .btn-inverse.disabled, .btn-inverse[disabled] { color: rgb(255, 255, 255); background-color: rgb(34, 34, 34); }
.btn-inverse:active, .btn-inverse.active {  }
button.btn, input.btn[type="submit"] {  }
button.btn::-moz-focus-inner, input.btn[type="submit"]::-moz-focus-inner { padding: 0px; border: 0px none; }
button.btn.btn-mini, input.btn.btn-mini[type="submit"] {  }
[class^="icon-"], [class*=" icon-"] { display: inline-block; width: 14px; height: 14px; line-height: 14px; vertical-align: text-top; background-position: 14px 14px; background-repeat: no-repeat; margin-top: 1px; }
.icon-white, .nav-tabs > .active > a > [class^="icon-"], .nav-tabs > .active > a > [class*=" icon-"], .nav-pills > .active > a > [class^="icon-"], .nav-pills > .active > a > [class*=" icon-"], .nav-list > .active > a > [class^="icon-"], .nav-list > .active > a > [class*=" icon-"], .navbar-inverse .nav > .active > a > [class^="icon-"], .navbar-inverse .nav > .active > a > [class*=" icon-"], .dropdown-menu > li > a:hover > [class^="icon-"], .dropdown-menu > li > a:hover > [class*=" icon-"], .dropdown-menu > .active > a > [class^="icon-"], .dropdown-menu > .active > a > [class*=" icon-"] {  }
.icon-ok { background-position: -288px 0px; }
.icon-trash { background-position: -456px 0px; }
.icon-download-alt { background-position: -96px -24px; }
.icon-share { background-position: -120px -72px; }
.icon-plus { background-position: -408px -96px; }
.icon-minus { background-position: -433px -96px; }
.icon-eye-close { background-position: -120px -120px; }
.btn-group { position: relative; font-size: 0px; vertical-align: middle; white-space: nowrap; }
.btn-group:first-child {  }
.btn-group > .btn { position: relative; border-radius: 0px; }
.btn-group > .btn + .btn { margin-left: -1px; }
.btn-group > .btn, .btn-group > .dropdown-menu { font-size: 13px; }
.btn-group > .btn-mini { font-size: 11px; }
.btn-group > .btn:first-child { margin-left: 0px; border-top-left-radius: 4px; border-bottom-left-radius: 4px; }
.btn-group > .btn:last-child, .btn-group > .dropdown-toggle { border-top-right-radius: 4px; border-bottom-right-radius: 4px; }
.btn-group > .btn:hover, .btn-group > .btn:focus, .btn-group > .btn:active, .btn-group > .btn.active { z-index: 2; }
.btn-group .dropdown-toggle:active, .btn-group.open .dropdown-toggle { outline: 0px none; }
.btn .caret { margin-top: 8px; margin-left: 0px; }
.btn-mini .caret, .btn-small .caret, .btn-large .caret { margin-top: 6px; }
.btn-primary .caret, .btn-warning .caret, .btn-danger .caret, .btn-info .caret, .btn-success .caret, .btn-inverse .caret { border-top-color: rgb(255, 255, 255); border-bottom-color: rgb(255, 255, 255); }
.nav { margin-left: 0px; margin-bottom: 18px; list-style: outside none none; }
.nav > li > a { display: block; }
.nav > li > a:hover { text-decoration: none; background-color: rgb(238, 238, 238); }
.nav-header { display: block; padding: 3px 15px; font-size: 11px; font-weight: bold; line-height: 18px; color: rgb(153, 153, 153); text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.5); text-transform: uppercase; }
.nav li + .nav-header { margin-top: 9px; }
.nav-tabs::before, .nav-pills::before, .nav-tabs::after, .nav-pills::after { display: table; content: ""; line-height: 0; }
.nav-tabs::after, .nav-pills::after { clear: both; }
.nav .dropdown-toggle .caret { border-top-color: rgb(0, 136, 204); border-bottom-color: rgb(0, 136, 204); margin-top: 6px; }
.nav .dropdown-toggle:hover .caret { border-top-color: rgb(0, 85, 128); border-bottom-color: rgb(0, 85, 128); }
.tabbable::before, .tabbable::after { display: table; content: ""; line-height: 0; }
.tabbable::after { clear: both; }
.navbar { overflow: visible; margin-bottom: 18px; color: rgb(119, 119, 119); }
.navbar-inner { min-height: 40px; padding-left: 20px; padding-right: 20px; background-color: rgb(250, 250, 250); background-image: linear-gradient(to bottom, rgb(255, 255, 255), rgb(242, 242, 242)); background-repeat: repeat-x; border: 1px solid rgb(212, 212, 212); border-radius: 4px; box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.067); }
.navbar-inner::before, .navbar-inner::after { display: table; content: ""; line-height: 0; }
.navbar-inner::after { clear: both; }
.navbar .container { width: auto; }
.navbar .brand { float: left; display: block; padding: 11px 20px; margin-left: -20px; font-size: 20px; font-weight: 200; color: rgb(119, 119, 119); text-shadow: 0px 1px 0px rgb(255, 255, 255); }
.navbar .brand:hover { text-decoration: none; }
.navbar-form::before, .navbar-form::after { display: table; content: ""; line-height: 0; }
.navbar-form::after { clear: both; }
.navbar-search { position: relative; float: left; margin-top: 5px; margin-bottom: 0px; }
.navbar-search .search-query { margin-bottom: 0px; padding: 4px 14px; font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; font-size: 13px; font-weight: normal; line-height: 1; border-radius: 15px; }
.navbar-fixed-top, .navbar-fixed-bottom { position: fixed; right: 0px; left: 0px; z-index: 1030; margin-bottom: 0px; }
.navbar-fixed-top .navbar-inner, .navbar-static-top .navbar-inner { border-width: 0px 0px 1px; }
.navbar-fixed-top .navbar-inner, .navbar-fixed-bottom .navbar-inner { padding-left: 0px; padding-right: 0px; border-radius: 0px; }
.navbar-static-top .container, .navbar-fixed-top .container, .navbar-fixed-bottom .container { width: 940px; }
.navbar-fixed-top { top: 0px; }
.navbar-fixed-top .navbar-inner, .navbar-static-top .navbar-inner { box-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1) inset, 0px 1px 10px rgba(0, 0, 0, 0.1); }
.navbar .nav { position: relative; left: 0px; display: block; float: left; margin: 0px 10px 0px 0px; }
.navbar .nav.pull-right { float: right; margin-right: 0px; }
.navbar .nav > li { float: left; }
.navbar .nav > li > a { float: none; padding: 11px 15px; color: rgb(119, 119, 119); text-decoration: none; text-shadow: 0px 1px 0px rgb(255, 255, 255); }
.navbar .nav .dropdown-toggle .caret { margin-top: 8px; }
.navbar .nav > li > a:focus, .navbar .nav > li > a:hover { background-color: transparent; color: rgb(51, 51, 51); text-decoration: none; }
.navbar .nav > li > .dropdown-menu::before { content: ""; display: inline-block; border-left: 7px solid transparent; border-right: 7px solid transparent; border-bottom: 7px solid rgba(0, 0, 0, 0.2); position: absolute; top: -7px; left: 9px; }
.navbar .nav > li > .dropdown-menu::after { content: ""; display: inline-block; border-left: 6px solid transparent; border-right: 6px solid transparent; border-bottom: 6px solid rgb(255, 255, 255); position: absolute; top: -6px; left: 10px; }
.navbar-fixed-bottom .nav > li > .dropdown-menu::before { border-top: 7px solid rgba(0, 0, 0, 0.2); border-bottom: 0px none; bottom: -7px; top: auto; }
.navbar-fixed-bottom .nav > li > .dropdown-menu::after { border-top: 6px solid rgb(255, 255, 255); border-bottom: 0px none; bottom: -6px; top: auto; }
.navbar .nav li.dropdown > .dropdown-toggle .caret { border-top-color: rgb(119, 119, 119); border-bottom-color: rgb(119, 119, 119); }
.navbar .pull-right > li > .dropdown-menu::before, .navbar .nav > li > .dropdown-menu.pull-right::before { left: auto; right: 12px; }
.navbar .pull-right > li > .dropdown-menu::after, .navbar .nav > li > .dropdown-menu.pull-right::after { left: auto; right: 13px; }
.navbar-inverse { color: rgb(153, 153, 153); }
.navbar-inverse .navbar-inner { background-color: rgb(27, 27, 27); background-image: linear-gradient(to bottom, rgb(34, 34, 34), rgb(17, 17, 17)); background-repeat: repeat-x; border-color: rgb(37, 37, 37); }
.navbar-inverse .brand, .navbar-inverse .nav > li > a { color: rgb(153, 153, 153); text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.25); }
.navbar-inverse .brand:hover, .navbar-inverse .nav > li > a:hover { color: rgb(255, 255, 255); }
.navbar-inverse .nav > li > a:focus, .navbar-inverse .nav > li > a:hover { background-color: transparent; color: rgb(255, 255, 255); }
.navbar-inverse .nav li.dropdown > .dropdown-toggle .caret { border-top-color: rgb(153, 153, 153); border-bottom-color: rgb(153, 153, 153); }
.navbar-inverse .navbar-search .search-query { color: rgb(255, 255, 255); background-color: rgb(81, 81, 81); border-color: rgb(17, 17, 17); box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1) inset, 0px 1px 0px rgba(255, 255, 255, 0.15); transition: none 0s ease 0s ; }
.navbar-inverse .navbar-search .search-query:-moz-placeholder { color: rgb(204, 204, 204); }
.navbar-inverse .navbar-search .search-query:focus, .navbar-inverse .navbar-search .search-query.focused { padding: 5px 15px; color: rgb(51, 51, 51); text-shadow: 0px 1px 0px rgb(255, 255, 255); background-color: rgb(255, 255, 255); border: 0px none; box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.15); outline: 0px none; }
.pager::before, .pager::after { display: table; content: ""; line-height: 0; }
.pager::after { clear: both; }
.thumbnails::before, .thumbnails::after { display: table; content: ""; line-height: 0; }
.thumbnails::after { clear: both; }
.progress { overflow: hidden; height: 18px; margin-bottom: 18px; background-color: rgb(247, 247, 247); background-image: linear-gradient(to bottom, rgb(245, 245, 245), rgb(249, 249, 249)); background-repeat: repeat-x; box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1) inset; border-radius: 4px; }
.progress .bar { width: 0%; height: 100%; color: rgb(255, 255, 255); float: left; font-size: 12px; text-align: center; text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.25); background-color: rgb(14, 144, 210); background-image: linear-gradient(to bottom, rgb(20, 155, 223), rgb(4, 128, 190)); background-repeat: repeat-x; box-shadow: 0px -1px 0px rgba(0, 0, 0, 0.15) inset; box-sizing: border-box; transition: width 0.6s ease 0s; }
.progress-striped .bar { background-color: rgb(20, 155, 223); background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent); background-size: 40px 40px; }
.progress.active .bar { animation: 2s linear 0s normal none infinite running progress-bar-stripes; }
.progress-info .bar, .progress .bar-info { background-color: rgb(75, 177, 207); background-image: linear-gradient(to bottom, rgb(91, 192, 222), rgb(51, 155, 185)); background-repeat: repeat-x; }
.progress-info.progress-striped .bar, .progress-striped .bar-info { background-color: rgb(91, 192, 222); background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent); }
.popover .arrow, .popover .arrow::after { position: absolute; display: inline-block; width: 0px; height: 0px; border-color: transparent; border-style: solid; }
.popover .arrow::after { content: ""; z-index: -1; }
.popover.top .arrow::after { border-width: 11px 11px 0px; border-top-color: rgba(0, 0, 0, 0.25); bottom: -1px; left: -11px; }
.popover.right .arrow::after { border-width: 11px 11px 11px 0px; border-right-color: rgba(0, 0, 0, 0.25); bottom: -11px; left: -1px; }
.popover.bottom .arrow::after { border-width: 0px 11px 11px; border-bottom-color: rgba(0, 0, 0, 0.25); top: -1px; left: -11px; }
.popover.left .arrow::after { border-width: 11px 0px 11px 11px; border-left-color: rgba(0, 0, 0, 0.25); bottom: -11px; right: -1px; }
.modal { position: fixed; top: 50%; left: 50%; z-index: 1050; overflow: auto; width: 560px; margin: -250px 0px 0px -280px; background-color: rgb(255, 255, 255); border: 1px solid rgba(0, 0, 0, 0.3); border-radius: 6px; box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.3); background-clip: padding-box; }
.modal.fade { transition: opacity 0.3s linear 0s, top 0.3s ease-out 0s; top: -25%; }
.modal-header { padding: 9px 15px; border-bottom: 1px solid rgb(238, 238, 238); }
.modal-header .close { margin-top: 2px; }
.modal-header h3 { margin: 0px; line-height: 30px; }
.modal-body { overflow-y: auto; max-height: 400px; padding: 15px; }
.modal-footer { padding: 14px 15px 15px; margin-bottom: 0px; text-align: right; background-color: rgb(245, 245, 245); border-top: 1px solid rgb(221, 221, 221); border-radius: 0px 0px 6px 6px; box-shadow: 0px 1px 0px rgb(255, 255, 255) inset; }
.modal-footer::before, .modal-footer::after { display: table; content: ""; line-height: 0; }
.modal-footer::after { clear: both; }
.modal-footer .btn + .btn { margin-left: 5px; margin-bottom: 0px; }
.dropup, .dropdown { position: relative; }
.dropdown-toggle {  }
.dropdown-toggle:active, .open .dropdown-toggle { outline: 0px none; }
.caret { display: inline-block; width: 0px; height: 0px; vertical-align: top; border-top: 4px solid rgb(0, 0, 0); border-right: 4px solid transparent; border-left: 4px solid transparent; content: ""; }
.dropdown .caret { margin-top: 8px; margin-left: 2px; }
.dropdown-menu { position: absolute; top: 100%; left: 0px; z-index: 1000; display: none; float: left; min-width: 160px; padding: 5px 0px; margin: 2px 0px 0px; list-style: outside none none; background-color: rgb(255, 255, 255); border: 1px solid rgba(0, 0, 0, 0.2); border-radius: 6px; box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2); background-clip: padding-box; }
.dropdown-menu .divider { height: 1px; margin: 8px 1px; overflow: hidden; background-color: rgb(229, 229, 229); border-bottom: 1px solid rgb(255, 255, 255); }
.dropdown-menu a { display: block; padding: 3px 20px; clear: both; font-weight: normal; line-height: 18px; color: rgb(51, 51, 51); white-space: nowrap; }
.dropdown-menu li > a:hover, .dropdown-menu li > a:focus, .dropdown-submenu:hover > a { text-decoration: none; color: rgb(255, 255, 255); background-color: rgb(0, 129, 194); background-image: linear-gradient(to bottom, rgb(0, 136, 204), rgb(0, 119, 179)); background-repeat: repeat-x; }
.pull-right > .dropdown-menu { right: 0px; left: auto; }
.dropup .caret, .navbar-fixed-bottom .dropdown .caret { border-top: 0px none; border-bottom: 4px solid rgb(0, 0, 0); content: ""; }
.dropup .dropdown-menu, .navbar-fixed-bottom .dropdown .dropdown-menu { top: auto; bottom: 100%; margin-bottom: 1px; }
.dropdown-submenu > a::after { display: block; content: " "; float: right; width: 0px; height: 0px; border-color: transparent transparent transparent rgb(204, 204, 204); border-style: solid; border-width: 5px 0px 5px 5px; margin-top: 5px; margin-right: -10px; }
.dropdown-submenu:hover > a::after { border-left-color: rgb(255, 255, 255); }
.dropdown .dropdown-menu .nav-header { padding-left: 20px; padding-right: 20px; }
.close { float: right; font-size: 20px; font-weight: bold; line-height: 18px; color: rgb(0, 0, 0); text-shadow: 0px 1px 0px rgb(255, 255, 255); opacity: 0.2; }
.close:hover { color: rgb(0, 0, 0); text-decoration: none; cursor: pointer; opacity: 0.4; }
.pull-right { float: right; }
.pull-left { float: left; }
.hide { display: none; }
.fade { opacity: 0; transition: opacity 0.15s linear 0s; }
/* ::::: http://desustorage.org/foolfuuka/foolz/foolfuuka-theme-foolfuuka/assets-1.1.1/font-awesome/css/font-awesome.css ::::: */

@font-face {
	font-family: "FontAwesome";
	font-style: normal;
	font-weight: normal;
	src: url('fontawesome-webfont.eot') format("embedded-opentype"), url('fontawesome-webfont.woff') format("woff"), url('fontawesome-webfont.ttf') format("truetype");
}
[class^="icon-"], [class*=" icon-"] { font-family: FontAwesome; font-weight: normal; font-style: normal; text-decoration: inherit; display: inline; width: auto; height: auto; line-height: normal; vertical-align: baseline; background-image: none; background-position: 0% 0%; background-repeat: repeat; margin-top: 0px; }
.icon-white, .nav-pills > .active > a > [class^="icon-"], .nav-pills > .active > a > [class*=" icon-"], .nav-list > .active > a > [class^="icon-"], .nav-list > .active > a > [class*=" icon-"], .navbar-inverse .nav > .active > a > [class^="icon-"], .navbar-inverse .nav > .active > a > [class*=" icon-"], .dropdown-menu > li > a:hover > [class^="icon-"], .dropdown-menu > li > a:hover > [class*=" icon-"], .dropdown-menu > .active > a > [class^="icon-"], .dropdown-menu > .active > a > [class*=" icon-"], .dropdown-submenu:hover > a > [class^="icon-"], .dropdown-submenu:hover > a > [class*=" icon-"] { background-image: none; }
[class^="icon-"]::before, [class*=" icon-"]::before { text-decoration: inherit; display: inline-block; }
a [class^="icon-"], a [class*=" icon-"] { display: inline-block; }
.icon-large::before { vertical-align: -10%; font-size: 1.33333em; }
.btn [class^="icon-"], .nav [class^="icon-"], .btn [class*=" icon-"], .nav [class*=" icon-"] { display: inline; }
li [class^="icon-"], .nav li [class^="icon-"], li [class*=" icon-"], .nav li [class*=" icon-"] { display: inline-block; width: 1.25em; text-align: center; }
.pull-right { float: right; }
.pull-left { float: left; }
.icon-glass::before { content: ""; }
.icon-music::before { content: ""; }
.icon-search::before { content: ""; }
.icon-envelope::before { content: ""; }
.icon-heart::before { content: ""; }
.icon-star::before { content: ""; }
.icon-star-empty::before { content: ""; }
.icon-user::before { content: ""; }
.icon-film::before { content: ""; }
.icon-th-large::before { content: ""; }
.icon-th::before { content: ""; }
.icon-th-list::before { content: ""; }
.icon-ok::before { content: ""; }
.icon-remove::before { content: ""; }
.icon-zoom-in::before { content: ""; }
.icon-zoom-out::before { content: ""; }
.icon-off::before { content: ""; }
.icon-signal::before { content: ""; }
.icon-cog::before { content: ""; }
.icon-trash::before { content: ""; }
.icon-home::before { content: ""; }
.icon-file::before { content: ""; }
.icon-time::before { content: ""; }
.icon-road::before { content: ""; }
.icon-download-alt::before { content: ""; }
.icon-download::before { content: ""; }
.icon-upload::before { content: ""; }
.icon-inbox::before { content: ""; }
.icon-play-circle::before { content: ""; }
.icon-repeat::before { content: ""; }
.icon-refresh::before { content: ""; }
.icon-list-alt::before { content: ""; }
.icon-lock::before { content: ""; }
.icon-flag::before { content: ""; }
.icon-headphones::before { content: ""; }
.icon-volume-off::before { content: ""; }
.icon-volume-down::before { content: ""; }
.icon-volume-up::before { content: ""; }
.icon-qrcode::before { content: ""; }
.icon-barcode::before { content: ""; }
.icon-tag::before { content: ""; }
.icon-tags::before { content: ""; }
.icon-book::before { content: ""; }
.icon-bookmark::before { content: ""; }
.icon-print::before { content: ""; }
.icon-camera::before { content: ""; }
.icon-font::before { content: ""; }
.icon-bold::before { content: ""; }
.icon-italic::before { content: ""; }
.icon-text-height::before { content: ""; }
.icon-text-width::before { content: ""; }
.icon-align-left::before { content: ""; }
.icon-align-center::before { content: ""; }
.icon-align-right::before { content: ""; }
.icon-align-justify::before { content: ""; }
.icon-list::before { content: ""; }
.icon-indent-left::before { content: ""; }
.icon-indent-right::before { content: ""; }
.icon-facetime-video::before { content: ""; }
.icon-picture::before { content: ""; }
.icon-pencil::before { content: ""; }
.icon-map-marker::before { content: ""; }
.icon-adjust::before { content: ""; }
.icon-tint::before { content: ""; }
.icon-edit::before { content: ""; }
.icon-share::before { content: ""; }
.icon-check::before { content: ""; }
.icon-move::before { content: ""; }
.icon-step-backward::before { content: ""; }
.icon-fast-backward::before { content: ""; }
.icon-backward::before { content: ""; }
.icon-play::before { content: ""; }
.icon-pause::before { content: ""; }
.icon-stop::before { content: ""; }
.icon-forward::before { content: ""; }
.icon-fast-forward::before { content: ""; }
.icon-step-forward::before { content: ""; }
.icon-eject::before { content: ""; }
.icon-chevron-left::before { content: ""; }
.icon-chevron-right::before { content: ""; }
.icon-plus-sign::before { content: ""; }
.icon-minus-sign::before { content: ""; }
.icon-remove-sign::before { content: ""; }
.icon-ok-sign::before { content: ""; }
.icon-question-sign::before { content: ""; }
.icon-info-sign::before { content: ""; }
.icon-screenshot::before { content: ""; }
.icon-remove-circle::before { content: ""; }
.icon-ok-circle::before { content: ""; }
.icon-ban-circle::before { content: ""; }
.icon-arrow-left::before { content: ""; }
.icon-arrow-right::before { content: ""; }
.icon-arrow-up::before { content: ""; }
.icon-arrow-down::before { content: ""; }
.icon-share-alt::before { content: ""; }
.icon-resize-full::before { content: ""; }
.icon-resize-small::before { content: ""; }
.icon-plus::before { content: ""; }
.icon-minus::before { content: ""; }
.icon-asterisk::before { content: ""; }
.icon-exclamation-sign::before { content: ""; }
.icon-gift::before { content: ""; }
.icon-leaf::before { content: ""; }
.icon-fire::before { content: ""; }
.icon-eye-open::before { content: ""; }
.icon-eye-close::before { content: ""; }
.icon-warning-sign::before { content: ""; }
.icon-plane::before { content: ""; }
.icon-calendar::before { content: ""; }
.icon-random::before { content: ""; }
.icon-comment::before { content: ""; }
.icon-magnet::before { content: ""; }
.icon-chevron-up::before { content: ""; }
.icon-chevron-down::before { content: ""; }
.icon-retweet::before { content: ""; }
.icon-shopping-cart::before { content: ""; }
.icon-folder-close::before { content: ""; }
.icon-folder-open::before { content: ""; }
.icon-resize-vertical::before { content: ""; }
.icon-resize-horizontal::before { content: ""; }
.icon-bar-chart::before { content: ""; }
.icon-twitter-sign::before { content: ""; }
.icon-facebook-sign::before { content: ""; }
.icon-camera-retro::before { content: ""; }
.icon-key::before { content: ""; }
.icon-cogs::before { content: ""; }
.icon-comments::before { content: ""; }
.icon-thumbs-up::before { content: ""; }
.icon-thumbs-down::before { content: ""; }
.icon-star-half::before { content: ""; }
.icon-heart-empty::before { content: ""; }
.icon-signout::before { content: ""; }
.icon-linkedin-sign::before { content: ""; }
.icon-pushpin::before { content: ""; }
.icon-external-link::before { content: ""; }
.icon-signin::before { content: ""; }
.icon-trophy::before { content: ""; }
.icon-github-sign::before { content: ""; }
.icon-upload-alt::before { content: ""; }
.icon-lemon::before { content: ""; }
.icon-phone::before { content: ""; }
.icon-check-empty::before { content: ""; }
.icon-bookmark-empty::before { content: ""; }
.icon-phone-sign::before { content: ""; }
.icon-twitter::before { content: ""; }
.icon-facebook::before { content: ""; }
.icon-github::before { content: ""; }
.icon-unlock::before { content: ""; }
.icon-credit-card::before { content: ""; }
.icon-rss::before { content: ""; }
.icon-hdd::before { content: ""; }
.icon-bullhorn::before { content: ""; }
.icon-bell::before { content: ""; }
.icon-certificate::before { content: ""; }
.icon-hand-right::before { content: ""; }
.icon-hand-left::before { content: ""; }
.icon-hand-up::before { content: ""; }
.icon-hand-down::before { content: ""; }
.icon-circle-arrow-left::before { content: ""; }
.icon-circle-arrow-right::before { content: ""; }
.icon-circle-arrow-up::before { content: ""; }
.icon-circle-arrow-down::before { content: ""; }
.icon-globe::before { content: ""; }
.icon-wrench::before { content: ""; }
.icon-tasks::before { content: ""; }
.icon-filter::before { content: ""; }
.icon-briefcase::before { content: ""; }
.icon-fullscreen::before { content: ""; }
.icon-group::before { content: ""; }
.icon-link::before { content: ""; }
.icon-cloud::before { content: ""; }
.icon-beaker::before { content: ""; }
.icon-cut::before { content: ""; }
.icon-copy::before { content: ""; }
.icon-paper-clip::before { content: ""; }
.icon-save::before { content: ""; }
.icon-sign-blank::before { content: ""; }
.icon-reorder::before { content: ""; }
.icon-list-ul::before { content: ""; }
.icon-list-ol::before { content: ""; }
.icon-strikethrough::before { content: ""; }
.icon-underline::before { content: ""; }
.icon-table::before { content: ""; }
.icon-magic::before { content: ""; }
.icon-truck::before { content: ""; }
.icon-pinterest::before { content: ""; }
.icon-pinterest-sign::before { content: ""; }
.icon-google-plus-sign::before { content: ""; }
.icon-google-plus::before { content: ""; }
.icon-money::before { content: ""; }
.icon-caret-down::before { content: ""; }
.icon-caret-up::before { content: ""; }
.icon-caret-left::before { content: ""; }
.icon-caret-right::before { content: ""; }
.icon-columns::before { content: ""; }
.icon-sort::before { content: ""; }
.icon-sort-down::before { content: ""; }
.icon-sort-up::before { content: ""; }
.icon-envelope-alt::before { content: ""; }
.icon-linkedin::before { content: ""; }
.icon-undo::before { content: ""; }
.icon-legal::before { content: ""; }
.icon-dashboard::before { content: ""; }
.icon-comment-alt::before { content: ""; }
.icon-comments-alt::before { content: ""; }
.icon-bolt::before { content: ""; }
.icon-sitemap::before { content: ""; }
.icon-umbrella::before { content: ""; }
.icon-paste::before { content: ""; }
.icon-lightbulb::before { content: ""; }
.icon-exchange::before { content: ""; }
.icon-cloud-download::before { content: ""; }
.icon-cloud-upload::before { content: ""; }
.icon-user-md::before { content: ""; }
.icon-stethoscope::before { content: ""; }
.icon-suitcase::before { content: ""; }
.icon-bell-alt::before { content: ""; }
.icon-coffee::before { content: ""; }
.icon-food::before { content: ""; }
.icon-file-alt::before { content: ""; }
.icon-building::before { content: ""; }
.icon-hospital::before { content: ""; }
.icon-ambulance::before { content: ""; }
.icon-medkit::before { content: ""; }
.icon-fighter-jet::before { content: ""; }
.icon-beer::before { content: ""; }
.icon-h-sign::before { content: ""; }
.icon-plus-sign-alt::before { content: ""; }
.icon-double-angle-left::before { content: ""; }
.icon-double-angle-right::before { content: ""; }
.icon-double-angle-up::before { content: ""; }
.icon-double-angle-down::before { content: ""; }
.icon-angle-left::before { content: ""; }
.icon-angle-right::before { content: ""; }
.icon-angle-up::before { content: ""; }
.icon-angle-down::before { content: ""; }
.icon-desktop::before { content: ""; }
.icon-laptop::before { content: ""; }
.icon-tablet::before { content: ""; }
.icon-mobile-phone::before { content: ""; }
.icon-circle-blank::before { content: ""; }
.icon-quote-left::before { content: ""; }
.icon-quote-right::before { content: ""; }
.icon-spinner::before { content: ""; }
.icon-circle::before { content: ""; }
.icon-reply::before { content: ""; }
.icon-github-alt::before { content: ""; }
.icon-folder-close-alt::before { content: ""; }
.icon-folder-open-alt::before { content: ""; }
/* ::::: http://desustorage.org/foolfuuka/foolz/foolfuuka-theme-foolfuuka/assets-1.1.1/style.css ::::: */

.theme_default a, .theme_default a:visited { color: rgb(52, 52, 92); }
.theme_default .thread_form input[type="text"], .theme_default .thread_form input[type="password"], .theme_default .thread_form.uneditable-input { margin-bottom: 5px; margin-right: 10px; }
.theme_default .clearfix::before { content: ""; display: table; }
.theme_default .clearfix::after { content: ""; display: table; clear: both; }
.theme_default .clearfix {  }
.theme_default a:hover { color: rgb(221, 0, 0); }
.theme_default .shift-jis { font-family: "IPAMonaPGothic","IPA モナー Pゴシック",Mona,"MS PGothic","ＭＳ Ｐゴシック",Osaka,YOzFontAA97,sans-serif ! important; font-size: 16px ! important; }
.theme_default *::-moz-selection { background: rgb(254, 87, 161) none repeat scroll 0% 0%; color: rgb(255, 255, 255); text-shadow: none; }
.theme_default .container-fluid { position: static; padding: 0px; background: rgb(238, 248, 240) none repeat scroll 0% 0%; min-height: 100%; height: auto ! important; margin: 0px auto -40px; }
.theme_default .btn-inverse { background: rgb(119, 148, 125) none repeat scroll 0% 0%; color: rgb(255, 255, 255); }
.theme_default .dropdown-menu li > a:hover, .theme_default .dropdown-menu .active > a, .theme_default .dropdown-menu .active > a:hover { background: rgb(106, 131, 111) none repeat scroll 0% 0%; }
.theme_default .btn-inverse:hover { background: rgb(87, 100, 93) none repeat scroll 0% 0%; color: rgb(255, 255, 255); }
.theme_default #footer { background: rgb(106, 131, 111) none repeat scroll 0% 0%; color: rgb(245, 245, 245); font-size: 11px; height: 28px; margin: 0px; padding: 12px 15px 0px; border: medium none; }
.theme_default #footer a { color: inherit; }
.theme_default #footer .btn-group { margin: -2px 5px 0px; }
.theme_default #footer .dropdown-menu { right: 0px; left: inherit; color: rgb(51, 51, 51); }
.theme_default #footer .dropdown-menu a:hover { color: rgb(255, 255, 255); }
.theme_default #push { height: 28px; margin: 0px; padding: 12px 15px 0px; border: medium none; }
.theme_default .navbar { position: static; margin-bottom: 0px; }
.theme_default .navbar .nav > li > a { color: rgb(221, 221, 221); padding: 11px 10px; }
.theme_default .navbar .nav > li > a > i { font-size: 16px; display: inline ! important; line-height: 8px; }
.theme_default .navbar .nav > li > a:hover { color: rgb(255, 255, 255); }
.theme_default .navbar .navbar-inner { background: rgb(106, 131, 111) none repeat scroll 0% 0%; box-shadow: none; }
.theme_default .navbar .brand { margin-left: -10px; }
.theme_default .navbar-fixed-top .container { width: auto; padding: 0px 30px; }
.theme_default .letters { background: rgb(106, 131, 111) none repeat scroll 0% 0%; color: rgb(221, 221, 221); margin: 4px 0px -2px; padding: 0px 30px; }
.theme_default .letters a { color: inherit; }
.theme_default .letters a:hover { color: rgb(255, 255, 255); text-decoration: none; }
.theme_default .navbar-search .search-query { background: rgba(0, 0, 0, 0.3) none repeat scroll 0% 0%; color: rgb(238, 238, 238); text-shadow: none; width: 390px; }
.theme_default .navbar-search .search-query::-moz-placeholder { color: rgb(204, 204, 204); text-shadow: none; }
.theme_default .search_box { background: rgb(255, 255, 255) none repeat scroll 0% 0%; border: 1px solid rgb(170, 170, 170); display: none; position: absolute; padding: 0px 10px; z-index: 100; border-radius: 4px; box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2); }
.theme_default .search_box .advanced_search { width: 420px; padding: 10px 5px; }
.theme_default .search_box .advanced_search input:-moz-placeholder, .theme_default .search_box .advanced_search textarea:-moz-placeholder { font-size: 10px; line-height: 13px; }
.theme_default .search_box .advanced_search input[name="text"] :-moz-placeholder, .theme_default .search_box .advanced_search textarea[name="text"] :-moz-placeholder { font-size: 13px; line-height: 1; }
.theme_default .search_box .advanced_search input[type="text"] { width: 140px; font-size: 12px; height: 10px; line-height: 10px; }
.theme_default .search_box .advanced_search input[name="text"] { width: 390px; height: 18px; font-size: 13px; line-height: 13px; padding: 4px 14px; }
.theme_default .search_box .advanced_search .btn { padding: 0px 4px; font-size: 11px; }
.theme_default .search_box .advanced_search .checkboxes { border-left: 1px solid rgb(204, 204, 204); padding-left: 10px; }
.theme_default .search_box .advanced_search .table { margin-bottom: 0px; }
.theme_default .search_box .advanced_search .table td { padding: 8px 3px 3px; font-size: 12px; }
.theme_default .search_box .advanced_search .table td label { font-size: 12px; line-height: 14px; }
.theme_default .search_box .advanced_search .table td:first-of-type { display: none; }
.theme_default .search_box .advanced_search .radixes { width: 245px; }
.theme_default .search_box .advanced_search .radixes h5 { font-size: 12px; margin: 0px 0px 3px; display: inline; border-bottom: 1px solid rgb(221, 221, 221); }
.theme_default .search_box .advanced_search .add-on { font-size: 11px; height: 10px; line-height: 10px; width: 70px; }
.theme_default .advanced_search { width: 630px; margin: 0px auto; }
.theme_default .advanced_search .column { display: inline-block; width: 245px; box-sizing: border-box; vertical-align: top; }
.theme_default .advanced_search .column.checkboxes { width: 170px; }
.theme_default .advanced_search .buttons { border-bottom: 1px solid rgb(187, 187, 187); margin-bottom: 5px; }
.theme_default .advanced_search .add-on { width: 70px; }
.theme_default .advanced_search .input-prepend { margin-bottom: 2px; }
.theme_default .advanced_search input[name="text"] { line-height: 23px; font-size: 20px; height: 28px; width: 608px; padding: 3px 10px; border-radius: 50px; }
.theme_default .advanced_search .comment_wrap { border-bottom: 1px solid rgb(187, 187, 187); margin-bottom: 5px; }
.theme_default .advanced_search .btn { margin-bottom: 5px; }
.theme_default .advanced_search .table tr:first-of-type td { border-top: medium none; }
.theme_default .advanced_search form { margin-bottom: 0px; }
.theme_default .advanced_search .radixes { width: 330px; }
.theme_default .advanced_search .radixes label { width: 75px; float: left; }
.theme_default .advanced_search .radixes .btn { margin-bottom: 0px; }
.theme_default .advanced_search .radixes .btn.uncheck { display: none; }
.theme_default .advanced_search .latest_searches { clear: left; }
.theme_default .advanced_search .latest_searches h5 { font-size: 12px; display: inline; border-bottom: 1px solid rgb(221, 221, 221); }
.theme_default .advanced_search .latest_searches ul { list-style: outside none none; margin-left: 0px; width: 238px; overflow: hidden; }
.theme_default #main .section_title { padding: 2px 10px 2px 35px; border-bottom: 3px solid rgb(136, 136, 136); font-weight: normal; }
.theme_default #main .section_title a { text-decoration: underline; }
.theme_default .btnr:hover { border: 1px solid rgba(0, 0, 0, 0.4); color: rgb(0, 0, 0); text-decoration: none; cursor: pointer; }
.theme_default article.thread { padding: 25px 0px; margin: 0px 15px; word-wrap: break-word; border-top: 1px solid rgba(0, 0, 0, 0.5); }
.theme_default article.thread > header { overflow: hidden; font-family: Verdana,Arial,sans-serif; margin-left: 23px; }
.theme_default article.thread > .thread_image_box { float: left; margin: 0px 20px 10px 15px; z-index: 5; text-align: center; color: rgb(191, 191, 191); text-shadow: 0px 1px 0px rgb(255, 255, 255); font-size: 0.8em; line-height: 150%; }
.theme_default article.thread > .thread_image_box > .post_file { max-width: 250px; margin: 0px auto; }
.theme_default article.thread > .thread_image_box > .post_file_controls { position: relative; bottom: -1px; margin: 0px -5px 0px -4px; }
.theme_default article.thread > .thread_tools_bottom { margin-left: 30px; padding: 6px 0px; }
.theme_default article.thread .post_controls { margin-left: 4px; }
.theme_default article.thread .post_type { margin-left: 4px; }
.theme_default article.thread .post_author { font-weight: bold; color: rgb(17, 119, 67); }
.theme_default article.thread .post_tripcode { font-weight: normal; color: rgb(17, 119, 67); }
.theme_default article.thread .backlink_list { font-size: 11px; color: rgb(136, 136, 136); display: none; }
.theme_default article.thread > .text { padding: 10px 10px 10px 30px; word-wrap: break-word; }
.theme_default article.thread article.post { margin: 0px 5px 3px 16px; }
.theme_default article.thread .greentext { color: rgb(120, 153, 34); }
.theme_default article.thread .backlink.op { border-bottom: 1px dotted rgb(0, 0, 0); }
.theme_default article.thread .thread_form_wrap { border: 2px solid rgb(54, 64, 65); float: left; margin: 20px; padding-bottom: 20px; }
.theme_default article.thread .thread_form { width: auto; }
.theme_default article.thread:nth-of-type(1) { border-top: medium none; }
.theme_default .post_wrapper { display: table-cell; margin: 2px 0px 2px 20px; padding: 0px 0px 10px 10px; background: rgb(214, 240, 218) none repeat scroll 0% 0%; border-bottom: 1px solid rgb(204, 204, 204); }
.theme_default .post_wrapper > .text { padding: 7px 10px 0px 15px; word-wrap: break-word; }
.theme_default .post_wrapper > .thread_image_box { float: left; text-align: center; color: rgb(136, 136, 136); margin: 0px 10px 0px 4px; font-size: 0.8em; line-height: 130%; padding-top: 5px; vertical-align: bottom; }
.theme_default .post_wrapper > .thread_image_box .post_image.is_spoiler_image { opacity: 0.2; }
.theme_default .post_wrapper > .thread_image_box .post_image.is_spoiler_image:hover { opacity: 1; }
.theme_default .post .post_data { padding: 0px 6px 0px 0px; }
.theme_default .post .post_file { word-wrap: break-word; display: block; overflow: hidden; font-size: 11px; color: rgb(136, 136, 136); line-height: 18px; margin-top: 3px; margin-right: 5px; margin-bottom: -4px; }
.theme_default .post .post_file .btnr { font-size: 10px; }
.theme_default .post header { overflow: hidden; padding-top: 5px; display: -moz-inline-stack; font-family: Verdana,Arial,sans-serif; }
.theme_default .backlink { display: inline-block; }
.theme_default #backlink { box-shadow: 0px 0px 3px rgb(51, 51, 51); }
.theme_default .thread_form_wrap { background: rgb(214, 240, 218) none repeat scroll 0% 0%; border-bottom: 2px solid rgb(54, 64, 65); padding: 8px 20px 5px; }
.theme_default .thread_form { position: relative; }
.theme_default .thread_form form { margin-bottom: 0px; }
.theme_default .thread_form label { min-width: 85px; color: rgb(136, 136, 136); }
.theme_default .thread_form .rules { font-size: 11px; line-height: 10px; padding: 0px 10px; }
.theme_default #reply_ajax_notices { padding: 8px; margin-top: 10px; margin-left: 20px; display: none; clear: both; }
.theme_default #thread_o_matic > article.thread:nth-of-type(n+5) { border-top: 2px solid rgb(106, 131, 111); }
.theme_default .js_hook_realtimethread { font-size: 18px; font-weight: bold; margin: 10px 10px 10px 20px; border-top: 1px solid rgb(170, 170, 170); padding: 5px; clear: both; }
.theme_default .loading { display: none; width: 100%; text-align: center; margin: auto; }
.theme_default .spoiler { color: rgb(0, 0, 0); background: rgb(0, 0, 0) none repeat scroll 0% 0%; }
.theme_default .spoiler:hover { color: rgb(238, 238, 238); }
.theme_default .btn-toggle-post { background-color: rgb(245, 245, 245); border: 1px solid rgb(187, 187, 187); display: inline-block; padding: 2px 6px; font-size: 10px; line-height: 15px; text-align: center; vertical-align: middle; }
.theme_default div[class*="stub_doc_id_"] { display: none; }
.theme_default .post.stub { margin: 0px 5px 3px 16px; }
.theme_default .stub { display: none; }
.theme_default .text-small { font-size: 1em ! important; }
input[type="radio"], input[type="checkbox"] { margin-top: 0px; }
.theme_default.midnight *::-moz-selection { background-color: rgb(117, 117, 117) ! important; }
.theme_default.midnight #thread_o_matic > article.thread:nth-of-type(n+5) { border-top: 2px solid rgb(34, 34, 34); }
html { height: 100%; margin: 0px; padding: 0px; }
body.theme_default { height: 100%; background: rgb(106, 131, 111) none repeat scroll 0% 0%; color: rgb(54, 64, 65); padding: 0px; margin: 0px; font-family: "Arial",sans-serif; }
.dropup .caret, .navbar-fixed-bottom .dropdown .caret { border-bottom-color: rgb(238, 238, 238); }
.theme_default .btnr, .btnr:visited { padding: 0px 3px 1px; background: transparent none repeat scroll 0% 0%; border: 1px solid rgba(0, 0, 0, 0.1); text-shadow: none; margin: 0px 2px; color: rgb(51, 51, 51); font-size: 11px; line-height: 11px; position: relative; top: -1px; }
.theme_default.midnight .table-striped tbody tr:nth-child(2n+1) td, .table-striped tbody tr:nth-child(2n+1) th { background-color: rgb(40, 42, 46); }
/* ::::: http://desustorage.org/foolfuuka/foolz/foolfuuka-theme-foolfuuka/assets-1.1.1/flags.css ::::: */

#MathJax_Message { position: fixed; left: 1px; bottom: 2px; background-color: rgb(230, 230, 230); border: 1px solid rgb(149, 149, 149); margin: 0px; padding: 2px 8px; z-index: 102; color: black; font-size: 80%; width: auto; white-space: nowrap; }
